<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<h1 style="text-align: center">People Table</h1>
<hr/>

<div style="text-align: center">
  <a th:href="@{/people/new}">Create New User</a>
</div>
<br/>

<table border="1" align="center">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  <tr th:each="user : ${user}">
    <td >
      <a th:href="@{/people/user?id={id}(id=${user.getId()})}" th:text="${user.getId()}">link</a>
    </td>
    <td th:text="${user.getName()}">id</td>
    <td th:text="${user.getEmail()}">id</td>
    <td><a th:href="@{/people/edit?id={id}(id=${user.getId()})}">Edit</a></td>
    <td>
      <form th:method="POST" th:action="@{/people/delete?id={id}(id=${user.getId()})}">
        <input type="submit" value="Delete">
      </form>
  </tr>
</table>

</body>
</html>